# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/
ai/

# Ignore .env file containing sensitive data
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore VS Code specific files
.vscode/

# Ignore Mac specific files
.DS_Store
